<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/animate.css">
</head>

<body>

    <%- include('./header.ejs') %>
        <div style="margin-top:20px;" class="container goods">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button data-id="0" class="type-btn  btn btn-primary">全部</button>
                    <% classes.forEach((item,i)=>{ %>
                        <button data-id="<%= item.classid %>" class=" type-btn btn btn-info"><%= item.class %></button>
                        <% }) %>
                            <button data-order="price" class="order-btn  btn btn-info">价格</button>
                            <button data-order="hot" class="order-btn btn btn-info">人气</button>
                            <input id="search-inp" style="width:200px;" placeholder="请输入商品名字" type="text" class="form-control pull-right">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <% goods.forEach((good,i)=>{ %>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img style="width:214.5px;height:214.5px" class="animated" src="<%= good.imgurl %>" title="<%= good.name %>">
                                    <div class="caption">
                                        <h3>
                                            <a href="/detail?id=<%= good._id %>">
                                                <%= good.name %>
                                            </a>
                                        </h3>
                                        <p>
                                            价格：
                                            <%= good.price %>
                                                人气：
                                                <%= good.hot %>
                                        </p>
                                        <p>
                                            <button data-id="<%= good._id %>" class="add-btn btn btn-danger">加入购物车</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div>
                        <button id="prev" class="btn btn-primary">prev</button>
                        <button id="pagenum" class="btn btn-default">1</button>
                        <button id="next" class="btn btn-primary">next</button>
                        <a href="/">回到首页</a>
                        <a href="/car">购物车 </a>
                    </div>

                </div>
            </div>
        </div>
        <script src="/lib/jquery.js"></script>
        <script src="/lib/jquery.pagination.js"></script>
        <script src="/lib/jquery-cookie.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/javascripts/car.js"></script>

        <script>
            car.init()
        </script>
        <script src="/javascripts/list.js"></script>

</body>

</html>